<!--
    Use ` | safe` to allow html tags within the text string.
    https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
    {% if growatt == null %}
        <p>Connecting to Growatt...</p>
    {% else %}
        <p>Production: {{growatt.production}}W</p>
        <p>Consumption: {{growatt.consumption}}W</p>
        <p>Grid: {{growatt.grid}}W</p>
        <p>Electricity price:
            {% if electricityPrice == null %}
                Loading...
            {% else %}
                {{electricityPrice}} kr
            {% endif %}
        </p>
    {% endif %}
</div>
